<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.restaurant.miina.s315579mappe2">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.FriendInputActivity"
            android:parentActivityName=".Activities.MainActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Activities.RestaurantInputActivity"
            android:parentActivityName=".Activities.MainActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Activities.CreateOrderActivity"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.SettingsActivity"
            android:parentActivityName=".Activities.MainActivity" />
        <receiver android:name=".CustomBroadcastReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="com.restaurant.miina.custombroadcast"/>
            </intent-filter>
        </receiver>
        <service android:name=".NotificationService"/>
        <service android:name=".PeriodicalService"/>
    </application>

</manifest>